/*
 * STILE SITO ESAME
 */
 
/*** LAYOUT ***/
/* Generale */
body{
	
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	position: relative;
	z-index: 0;
	color: #151515
	
}


/* Header */
body header {
	
	position: relative;
	z-index: 999;
	
}

header#head-sito {

	margin-top: 20px;

}

#menu-wrapper {
	
	padding: 0;	
	
}

#logo {
	
	width: 69px;
	height: 69px;
	position: relative;
	float: left;	

}

.sfondo-menu {
	
	background-image: url( '../img/sfondo-menu.png' );	
	
}

#menu-container {

	position: relative;
	z-index: 999;
	
}

/* Main */
#main-body {
	
	position: relative;
	z-index: 2;
	
}

.notizia-principale {
	
	margin-top: 20px;
	background-image: url( '../img/img_grande.jpg' );
	background-size: cover;
	background-position: center;
	position: relative;
    overflow: hidden;
	
}

.notizia-principale:before{
	
    content: "";
    display: block;
    padding-top: 50%;
	
}

.notizia-content{
	
	padding-left: 10px;
	padding-bottom: 10px;
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 66%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(66%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	
}

.notizia-content div, .news1 div, .news2 div, .news3 div, .news4 div {
	
	display: table;
	width: 100%;
	height: 100%;
	
}

.news1 div, .news2 div, .news3 div, .news4 div {
	
	padding-left: 10px;
	padding-bottom: 10px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 66%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(66%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	
}
 
.notizia-content h1, .news1 h2, .news2 h2, .news3 h2, .news4 h2 {
	
    display: table-cell;
    vertical-align: bottom;
    color: white;
	text-shadow: 2px 2px 0 #000000;
	
}

.news1, .news2, .news3, .news4 {

	height: 120px;
	background-size: cover;
	background-position: center;

}

.news1 {
	
	background-image: url('../img/home_00.jpg')


}

.news2 {

	background-image: url('../img/home_01.jpg')

}

.news3 {

	background-image: url('../img/home_02.jpg')

}

.news4 {

	background-image: url('../img/home_03.jpg')

}

article div.sfondo-articolo {
	
	padding: 20px;
	background-color: rgba( 255, 255, 255, 0.7 );
	position: relative;
	z-index: 2;
	
}

.sala-classica, .sala-rock, .sala-greca, .sala-jazz {
	
	margin-top: 20px;
	background-size: cover;
	background-position: top center;
	position: relative;
    overflow: hidden;
	
}

.sala-classica {
	
	background-image: url( '../img/sfondo_stanza_classica.jpg' );
	
}

.sala-rock {
	
	background-image: url( '../img/sfondo_stanza_rock.jpg' );
	
}

.sala-jazz {
	
	background-image: url( '../img/sfondo_stanza_jazz.jpg' );
	
}

.sala-greca {
	
	background-image: url( '../img/sfondo_stanza_greca.jpg' );
	
}

.sala-classica:before, .sala-rock:before, .sala-jazz:before, .sala-greca:before{
    content: "";
    display: block;
    padding-top: 20%;
}

.sala-content{
	
	padding-left: 10px;
	padding-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 66%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(66%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}

.sala-content div {
	
	display: table;
	width: 100%;
	height: 100%;

}

.sala-content div a {

    display: table-cell;
    vertical-align: bottom;
    color: white;
	text-shadow: 2px 2px 0 #000000;

}

/* Footer */
footer {
	
	margin-top: 20px;
	padding-top: 10px;
	background-color: white;
	position: relative;
	z-index: 999;	
	
}

#foot-heading {
	
	background-image: url( '../img/sfondo-menu.png' );
	height: 45px;
	
}

/*** UTILITIES ***/
.nopadding {
	
	padding: 0 !important;
	
}

.padding-fix-left, .padding-fix-right {
	
	padding-left: 0;
	padding-right: 0;
	
}

.googlemaps {
	
	width: 50%;
	position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	
}

.googlemaps iframe {
	
	position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
	
}

/*** LINK ***/
#menu-container ul li a, #menu-container ul li a:visited, #menu-container ul ul li a, #menu-container ul ul li a:visited {
	
	margin-top: -25px;
	display: inline-block;
	vertical-align: middle;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	font-weight: 700;
	color: black;
	text-decoration: none;
	text-shadow: 1px 1px 0 #FFFFFF;
	white-space: nowrap;
}

#menu-container ul li a:hover, #menu-container ul li ul li a:hover {
	
	color: grey;
	text-decoration: none;
	
}

article.news1 h2 a, article.news2 h2 a, article.news3 h2 a, article.news4 h2 a {
	
	text-align: center;
	color: white;
	text-shadow: 2px 2px 0 #000000;
	
}

/*** LISTE ***/
#menu-container ul {
	
	margin-bottom: 0;
	list-style-type: square;
	list-style-position: inside;
	
}

#menu-container ul li {
	
	list-style-image: url( ../img/nota_0.png );
	
}

#menu-container ul li:nth-child( odd ) {
	
	list-style-image: url( ../img/nota_0.png );	
	
}

#menu-container ul li:nth-child( even ) {
	
	list-style-image: url( ../img/nota_1.png );	
	
}

/*** TESTI ***/
h1, h2, h3, h4, h5, h6 {
	
	font-family: 'Overlock', cursive;
	
}

h1.logo {
	
	font-size: 44px;
	line-height: 40px;
	
}

h1.title {

	margin: 80px 0 60px 0;
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	text-shadow: 1px 1px 0 #FFFFFF;
	position: relative;
	z-index: 2;
	
}

h2.news-title {
	
	margin-top: 0;
	
}

#foot-heading p {
	
	padding-top: 5px;
	font-family: 'Overlock', cursive;
	font-size: 24px;
	font-weight: 700;
	text-shadow: 1px 1px 0 #FFFFFF;
	
}

/*** IMAGES ***/
div#ciliegio {
	
	display: none;
	
}

@media (max-width: 767px) { ... }
@media (min-width: 768px) and (max-width: 991px) {
	
	div#ciliegio {
		
		max-width: 100%;
		height: auto;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		display: block;
		
	}
	
	.align-left {
		
		margin: 0 20px 20px 0;
		position: relative;
		float: left;
		
	}
	
	.align-right {
		
		margin: 0 0 20px 20px;
		position: relative;
		float: right;
		
	}
	
}
@media (min-width: 992px) and (max-width: 1199px) {

	.sfondo-menu {
		
		margin-top: 20px;
		
	}

	.sfondo-logo {
		
		background-image: url( '../img/sfondo-logo.png' );
		
	}
	
	#bottoneLogo {
	
		display: none;
		
	}
	
	
	#menu-container ul {
		
		padding-left: 0;
		
	}
	
	#menu-container ul ul li {
		
		min-width: 200px;
		margin-right: 20px;
		position: relative;
		float: none;
		
	}
	
	#menu-container ul ul {
		
		background-color: white;
		display: none;
		position: absolute;
		top: 45px;
		left: 0;
		padding: 0;
		
	}
	
	#menu-container ul li:hover > ul {
		
		display: block;
		
	}
	
	 #menu-container ul ul li a, #menu-container ul ul li a:visited {
	
		line-height: 0;
		padding-left: 45px;
		
	}
	
	.notizia-principale, .news1, .news2, .news3, .news4 {
		
		margin-bottom: 10px;
		
	}
	
	
	div#ciliegio {
		
		max-width: 100%;
		height: auto;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		display: block;
		
	}
	
	.padding-fix-left {
		
		padding-left: 0;
		padding-right: 5px;
		
	}
	
	.padding-fix-right {
		
		padding-left:5px;
		padding-right: 0;
		
	}
	
	.align-left {
		
		margin: 0 20px 20px 0;
		position: relative;
		float: left;
		
	}
	
	.align-right {
		
		margin: 0 0 20px 20px;
		position: relative;
		float: right;
		
	}
	
	h1.logo {
		
		text-shadow: 2px 2px 0 #FFFFFF;
		
	}
	
}
@media (min-width: 1200px) {
	
	.sfondo-menu {
		
		margin-top: 20px;
		
	}
	
	.sfondo-logo {
		
		background-image: url( '../img/sfondo-logo.png' );
		
	}
	
	#bottoneLogo {
	
		display: none;
		
	}
	
	#menu-container ul {
		
		padding-left: 0;
		
	}
	
	#menu-container ul li {
		
		margin-right: 20px;
		position: relative;
		float: left;
		
	}
	
	#menu-container ul ul {
		
		background-color: white;
		display: none;
		position: absolute;
		top: 45px;
		left: 0;
		padding: 0;
		
	}
	
	#menu-container ul li:hover > ul {
		
		display: block;
		
	}
	
	#menu-container ul ul li {
		
		min-width: 200px;
		margin-right: 20px;
		position: relative;
		float: none;
		
	}
	
	 #menu-container ul ul li a, #menu-container ul ul li a:visited {
		
		line-height: 45px;
		padding-left: 0;
		
	}
	
	.notizia-principale, .news1, .news2, .news3, .news4 {
		
		margin-bottom: 10px;
		
	}
	
	div#ciliegio {
		
		max-width: 100%;
		height: auto;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		display: block;
		
	}
	
	.padding-fix-left {
		
		padding-left: 0;
		padding-right: 5px;
		
	}
	
	.padding-fix-right {
		
		padding-left:5px;
		padding-right: 0;
		
	}
	
	.align-left {
		
		margin: 0 20px 20px 0;
		position: relative;
		float: left;
		
	}
	
	.align-right {
		
		margin: 0 0 20px 20px;
		position: relative;
		float: right;
		
	}
	
	h1.logo {
		
		text-shadow: 2px 2px 0 #FFFFFF;
		
	}
	
}